html,
body {
}

.navbar {
  height: 10vh;
}

.nav-link {
  color: black !important;
}

.modal-img {
  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
}

.product-details-wrapper {
  height: 90vh !important;
}